[Desktop Entry]
Encoding=UTF-8
Name=Link to http://localhost/genius/assets/img/lockscreen/london.jpg
Type=Link
URL=http://localhost/genius/assets/img/lockscreen/london.jpg
Icon=image-jpeg
